<h1>Runs</h1>
 
<table>
  <tr>
    <th>Run Number</th>
    <th>Date</th>
    <th></th>
  </tr>
  <%= link_to 'New Run', new_run_path, class: "btn btn-sm btn-outline-secondary" %>
  <% @runs.each do |run| %>
    <tr>
      <td><%= run.run_number %></td>
      <td><%= run.date %></td>
      <td><%= link_to 'Show', run_path(run), class: "btn btn-sm btn-outline-secondary" %> | </td>
      <td><%= link_to 'Delete', run_path(run), class: "btn btn-sm btn-outline-secondary",
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>