<p>
  <strong>Run_number:</strong>
  <%= @run.run_number %>
</p>
 
<p>
  <strong>Date:</strong>
  <%= @run.date %>
</p>

<p>
  <strong>Station:</strong>
  <%= @run.station %>
</p>
 
<p>
  <strong>Time_of_call:</strong>
  <%= @run.time_of_call %>
</p>

<p>
  <strong>Onscene:</strong>
  <%= @run.onscene %>
</p>
 
<p>
  <strong>Inservice:</strong>
  <%= @run.inservice %>
</p>
<p>
  <strong>Number:</strong>
  <%= @run.number %>
</p>
 
<p>
  <strong>Street1:</strong>
  <%= @run.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @run.street2 %>
</p>
 
<p>
  <strong>Category1:</strong>
  <%= @run.category1 %>
</p>

<p>
  <strong>Category2:</strong>
  <%= @run.category2 %>
</p>
 
<p>
  <strong>Info:</strong>
  <%= @run.info %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @run.shift %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @run.name %>
</p>

<p>
  <strong>A2591:</strong>
  <%= @run.a2591 %>
</p>
 
<p>
  <strong>A2592:</strong>
  <%= @run.a2592 %>
</p>

<p>
  <strong>A2551:</strong>
  <%= @run.a2551 %>
</p>
 
<p>
  <strong>A2552:</strong>
  <%= @run.a2552 %>
</p>

<p>
  <strong>A2553:</strong>
  <%= @run.a2553 %>
</p>
 
<p>
  <strong>A2571:</strong>
  <%= @run.a2571 %>
</p>

<p>
  <strong>A2572:</strong>
  <%= @run.a2572 %>
</p>
 
<p>
  <strong>A2501:</strong>
  <%= @run.a2501 %>
</p>

<p>
  <strong>A2502:</strong>
  <%= @run.a2502 %>
</p>
 
<p>
  <strong>A2503:</strong>
  <%= @run.a2503 %>
</p>

<p>
  <strong>A2504:</strong>
  <%= @run.a2504 %>
</p>
 

<%= link_to 'Edit', edit_run_path(@run), class: "btn btn-sm btn-outline-secondary" %> |
<%= link_to 'Back', runs_path, class: "btn btn-sm btn-outline-secondary" %>